.graphRoot {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.canvasGrab {
  cursor: grab;
}

.canvasGrabbing {
  cursor: grabbing;
}

.canvasPointer {
  cursor: pointer;
}
